.LayoutContainer {
  width: 100%;
  position: fixed;
  pointer-events: none;
  background: transparent;
  z-index: -1;
}

.LayoutBackground {
  height: 100vh;
  width: 100%;
  position: fixed;
  background: black;
  z-index: -2;
}
