.container {
  display: flex;
  background-color: #0d0d0dfa;
  height: 25vh;
  align-items: center;
}

.container > * {
  flex: 1;
  display: flex;
  justify-content: center;
}

.links {
  color: #acacac;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.item {
  cursor: pointer;
}

@media screen and (max-width: 455px) {
  .container {
    height: 19vh;
  }

  .logo {
    width: 60px;
  }

  .links {
    column-gap: 10%;
  }

  .item {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    width: 40px;
  }

  .item {
    font-size: 10px;
  }
}
