.container {
  display: flex;
  background-color: #0d0d0dfa;
  height: 22vh;
  align-items: center;
}

.container > * {
  flex: 1;
  display: flex;
  justify-content: center;
}

.links {
  color: #acacac;
  justify-content: center;
  column-gap: 15%;
}

.column {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}

.column > a {
  color: #acacac;
  text-decoration: none;
}

.logoLinks > a {
  font-size: 0;
}

.item {
  cursor: pointer;
}

.image {
  filter: brightness(0) saturate(100%) invert(79%) sepia(1%) saturate(67%) hue-rotate(314deg) brightness(89%) contrast(85%);
  cursor: pointer;
}

.instagram {
  width: 25px;
}

.email {
  width: 25px;
}

.slack {
  width: 23px;
}

@media screen and (max-width: 455px) {
  .container {
    height: 19vh;
  }

  .logo {
    width: 60px;
  }

  .item {
    font-size: 12px;
  }

  .instagram {
    width: 18px;
  }
  
  .email {
    width: 18px;
  }

  .slack {
    width: 17px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    width: 40px;
  }

  .item {
    font-size: 10px;
  }

  .instagram {
    width: 15px;
  }
  
  .email {
    width: 16px;
  }

  .slack {
    width: 14px;
  }
}
