.container {
  display: flex;
  flex-direction: column;
  background-color: #151515;
}

.header {
  padding: 2% 0 4%;
  display: flex;
  justify-content: center;
  column-gap: 13px;
  font-size: 40px;
  font-family: "Michroma";
  text-align: center;
  color: #ffffff;
}

.grid {
  width: 75%;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4%;
  row-gap: 2.5vh;
  padding-bottom: 6%;
}
