.container {
  display: flex;
  align-items: center;
  padding: 1% 4% 1% 4%;
  background: rgba(0,0,0,.5);
  backdrop-filter: brightness(60%);
  backdrop-filter: blur(10px);
}

.container > * {
  flex: 1;
  justify-content: center;
}

.logo {
  width: 69px;
  height: 40px;
}

.menu {
  display: flex;
  column-gap: 15%;
}

.menuItem {
  font-size: 15px;
  color: #acacac;
  letter-spacing: 0.125em;
  cursor: pointer;
}
