.container {
  padding: 13vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.innerContainer > * {
  filter: blur(0px);
}

.header {
  font-size: 40px;
  font-family: "Michroma";
  text-align: center;
  color: #ffffff;
  padding-bottom: 5%;
}

.projects {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5%;
  row-gap: 2.5vh;
  justify-content: center;
}

.project {
  width: 30%;
  height: 27vh;
  background: #161616;
}

.ellipse {
  filter: blur(250px);
  width: 34.63vmax;
  height: 34.63vmax;
  position: absolute;
}

.ellipse1 {
  top: 10vh;
  left: 20%;
}

.ellipse2 {
  top: 6vh;
  right: 11%;
}