.container {
  width: 85%;
  justify-self: center;
  margin: 0 auto;
}

.slack_box {
  position: relative;
  width: 80%;
  left: 10%;
  height: 200px;
  background: linear-gradient(180.32deg, #ff005c 0.28%, #6f03c4 99.72%);
  margin-bottom: 5%;
  margin-top: 2.5%;
}

.slack_content_container {
  position: absolute;
  display: flex;
  top: 5px;
  height: 190px;
  color: white;
  background: #151515;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  left: 0.5%;
}

.join_message {
  font-family: "Michroma";
  font-size: 36px;
  width: 50%;
  text-align: center;
}

.slack_logo_container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.slack_logo {
  width: 50px;
  height: auto;
}

.header {
  font-family: "Michroma";
  color: #ff005c;
  text-align: left;
  padding-bottom: 3vh;
}

.content {
  color: #ffffff;
  font-size: 20px;
  font-family: "Inter";
}

.container:nth-child(2) {
  padding: 7vh 0 12vh;
}

.container:nth-child(2) > div:first-child {
  font-size: 40px;
}

.container:not(:first-child, :nth-child(2)) {
  padding: 0 0 12vh;
}

.container:not(:first-child, :nth-child(2)) > div:first-child {
  font-size: 30px;
}

.nextContents {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

.link {
  color: #ffffff;
}

/*.container:nth-last-child(2) {
  width: 96%;
}*/

.members {
  padding-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3%;
  row-gap: 2vh;
}

.member {
  background-color: #161616;
  box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
  width: 30%;
  min-width: 140px;
  aspect-ratio: 1/1.25;
}

@media screen and (max-width: 455px) {
  .slack_box {
    height: 100px;
  }

  .slack_content_container {
    height: 90px;
  }

  .join_message {
    font-size: 24px;
  }

  .container:nth-child(2) {
    padding: 4vh 0 6vh;
  }

  .container:nth-child(2) > div:first-child {
    font-size: 35px;
  }

  .container:not(:first-child, :nth-child(2)) {
    padding: 0 0 6vh;
  }

  .container:not(:first-child, :nth-child(2)) > div:first-child {
    font-size: 20px;
  }

  .content {
    font-size: 16px;
  }
}
