.container {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: brightness(60%);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  filter: blur(0px);
}

.line {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
}

.header {
  padding: 2% 0 0;
  display: flex;
  justify-content: center;
  column-gap: 13px;
  font-size: 40px;
  font-family: "Michroma";
  text-align: center;
  color: #ffffff;
}
